.Auth {
  height: 100vh;
  position: relative;
  width: 100%;
  opacity: 1;
}

.content div {
  padding: 3.75em 50px;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.662);
}

.backgroundLayer {
  background-image: url("https://cdn.jsdelivr.net/gh/Th3Wall/assets-cdn/Fakeflix/Fakeflix_auth_bg.jpg");
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
}

.content {
  background-color: #030303bf;
  border-radius: 8px;
  left: 50%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}

.content--title {
  color: white;
}

.auth-button.button__google {
  background-color: #1356c7;
  border: 1px solid #141414;
  color: #f2f2f2;
}

.auth-button.button__anonymous {
  background-color: #0000;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
}

.auth-button.button__anonymous:hover {
  border: 1px solid #e50914;
  color: #e50914;
  transform: scale(0.95);
}
.auth-button.button__google:hover {
  background-color: #141414;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
}

.content--disclaimer {
  color: #e50914;
  font-weight: 600;
  margin-bottom: 1em;
}
.content--disclaimer,
.content--errors {
  display: inherit;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 1.5em;
  text-align: center;
}

.InputField {
  background-color: #333;
  border: 0;
  border-bottom: 2px solid #0000;
  border-radius: 5px;
  box-shadow: none;
  color: #f2f2f2;
  font-family: Inter, sans-serif;
  font-size: 15px;
  outline: none;
  padding: 1em 1.2em;
  transition: all 0.2s ease-out;
  width: 93%;
}

.email {
  margin-bottom: 1em;
}

.password {
  margin-bottom: 1.5em;
}
.InputField.Input--error {
  border-bottom: 2px solid orange;
}

.content--divider {
  border-color: #777;
  margin: 1.5em;
}

.content--toggleView {
  color: #747474;
  display: inherit;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.content--toggleView .toggler {
  color: #e50914;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  transition: all 0.2s ease-out;
}

.error {
  color: rgb(229, 101, 101);
  font-weight: bold;
}
@media (min-width: 768px) {
  .content {
    max-width: 500px;
  }
}
@media (min-width: 400px) {
  .content--title {
    font-size: 1.5rem;
  }
}
@media (min-width: 400px) {
  .auth-button {
    font-size: 15px;
    min-height: 60px;
  }
}
