<!-- <h1>Login</h1> -->

@if (errorMessage) {
<div>{{ errorMessage }}</div>
}

<div class="Auth">
  <div class="Auth__opacityLayer"></div>
  <div class="Auth__bgLayer"></div>

  <div class="Auth__content" style="opacity: 1; top: 50%">
    <div>
      <h2 class="Auth__content--title" style="opacity: 1; transform: none">
        Sign In
      </h2>
      <small
        class="Auth__content--disclaimer"
        >Pay attention: this is not the original Netflix sign in. Don't insert
        your real credentials here!</small
      >
      <form class="SignIn__form" [formGroup]="form"  (ngSubmit)="onSubmit()">
          <input
            type="text"
            name="email"
            placeholder="E-mail"
            class="InputField email" 
            formControlName="email" 
          />
          <!-- <p class="InputField__label">Please enter a valid email address.</p> -->
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="InputField password"
            formControlName="password" 
          />
        <button
          type="submit"
          class="SignIn__form--button button__submit false"
        >
          Sign in</button
        ><button
          type="button"
          (click)="loginWithGoogle()"
          class="SignIn__form--button button__google"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            version="1.1"
            x="0px"
            y="0px"
            viewBox="0 0 48 48"
            enable-background="new 0 0 48 48"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="#FFC107"
              d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12
c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24
c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
            ></path>
            <path
              fill="#FF3D00"
              d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657
C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
            ></path>
            <path
              fill="#4CAF50"
              d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36
c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
            ></path>
            <path
              fill="#1976D2"
              d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571
c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
            ></path></svg
          >Sign in with Google</button
        ><button
          type="button"
          (click)="loginAnonymously()"
          class="SignIn__form--button button__anonymous false"
          style="opacity: 1; transform: none"
        >
          Sign in anonymously
        </button>
      </form>
      <hr class="Auth__content--divider" />
      <small
        class="Auth__content--toggleView"
        style="opacity: 1; transform: none"
        >Haven't you registered yet? <a class="toggler" routerLink="/register">Sign Up</a></small
      >
    </div>
  </div>
</div>
