<div class="Auth">
  <div class="layer"></div>
  <div class="backgroundLayer"></div>

  <div class="content" style="opacity: 1; top: 50%">
    <div>
      <h2 class="content--title" style="opacity: 1; transform: none">
        Sign Up
      </h2>
      <small class="content--disclaimer"
        >Pay attention: this is not the original Netflix sign up. Don't insert
        your real credentials here!</small
      >
      <form class="SignIn__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="InputField username"
          formControlName="username"
        />
        <input
          type="text"
          name="email"
          placeholder="E-mail"
          class="InputField email"
          formControlName="email"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="InputField password"
          formControlName="password"
        />
        @if (errorMessage) {
        <span class="error">{{ errorMessage }}</span>
        }

        <button type="submit" class="auth-button button__submit false">
          Sign Up
        </button>
      </form>
      <hr class="content--divider" />
      <small class="content--toggleView" style="opacity: 1; transform: none"
        >Already have an account?
        <a class="toggler" routerLink="/login">Sign In</a></small
      >
    </div>
  </div>
</div>
