@if(authService.currentUserSignal() == null) {
<app-login></app-login>
} @else {
<header [ngClass]="{ scrolled: isScrolled }">
  <div class="header-content">
    <span *ngIf="currentUser?.username; else anonymousUser">{{
      currentUser?.username
    }}</span>
    <ng-template #anonymousUser>
      <span>Anonymous</span>
    </ng-template>
    <button class="auth-button" (click)="logout()">Logout</button>
  </div>
</header>

<div class="movies-container">
  <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
</div>

}
