header {
  background: linear-gradient(97deg, #003571 1.27%, #302546 75.23%);
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header.scrolled {
  background: linear-gradient(97deg, #0e2744e6 1.27%, #3025469e 75.23%);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.header-content span {
  font-size: 18px;
  margin-right: 20px;
}

.auth-button {
  width: 200px;
  background-color: #e50914;
}
.auth-button:hover {
  background-color: #be0711;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content span {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.movies-container {
  display: grid;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  margin-top: 100px;
}

@media (min-width: 1200px) {
  .movies-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .movies-container {
    grid-template-columns: 1fr;
  }
}
